body {
  margin: 0;
  padding: 18px;
  overflow-x: hidden;
  max-width: 100%;
  color: #fff;
  background: #111;
}

.App {
  margin: 3.5rem auto;
  max-width: 50vw;
  min-height: 70vh;
  border: 1px solid #aaa;
  border-radius: 18px;
  box-shadow: -5px 3px 10px -5px #aaa ;
  text-align: center;
}
