body {
    margin: 0;
    font-style: italic;
    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.App {
    background: #333;
    height: 8rem;
}

.search {
    max-width: 25%;
}

@media screen and (max-width: 768px){
    .header {
        display: flex;
        flex-direction: column;
    }
    .search {
        max-width: 50%;
    }
}
@media screen and (max-width: 441px){
    .search {
        max-width: 80%;
    }
}