body {
    margin: 0;
    font-style: italic;
    font-family: sans-serif;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.login:before {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 11%;
    left: 30%;
    z-index: -1;
    background-color: #333;
    border-radius: 6px;
}

.login:after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 46%;
    left: 44%;
    z-index: -1;
    background-color: #333;
    border-radius: 6px;
}

.login form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;
    border-radius: 6px;
    width: 300px;
    max-width: 75%;
    margin: 5rem 400px;
    padding: 1.5rem;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.login form input {
    width: 250px;
    max-width: 95%;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #e5effc;
}

.login button {
    padding: 5px;
    background: rgba(0, 0, 0, .3);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: Bahnschrift, sans-serif;
    transition: .3s;
}

.login button:hover {
    background: #a6a5a5;
}

.navigation ul li {
    list-style: none;
    font-size: medium;
    padding: 6px 6px;
    margin-right: 1rem;
    width: 11rem;
    cursor: pointer;
    transition: .3s;
    display: flex;
    gap: 12px;
}

.navigation ul li:hover {
    transform: translate(2px, 4px);
}

.createTask {
    padding: 0 1px;
    color: rgba(0,0,0,.3);
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.createTask:hover {
    color: #9393fd;
}